<!DOCTYPE html>
<html lang="en">
<head>
  <%- layout.meta %>
</head>
<body>
  <%- style.frame %>

  <!-- Branding -->
  <%- layout.branding %>
  <%- style.branding %>
  
  <!-- Intro -->
  <%- layout.intro %>
  <%- style.intro %>
  
  <!-- Animations -->
  <script>
    <%- script.frame %>
    <%- script.branding %>
    <%- script.intro %>
    <%- script.endframe %>
  </script>
</body>
</html>